# Будет игнорироваться каталог tmp
tmp/
# Будут игнорироваться игнорироваться файлы Thumbs.db
Thumbs.db
# Будут игнорироваться файлы с расширением .DS_Store
*.DS_Store
# Будут игнорироваться файлы с расширением .png_backup
*.png_backup
# Будут игнорироваться файлы с расширением .html_old
*.html_old